
<!-- top part -->
    <div class="bgtop">
        <!-- nav bar for buttons -->

        
    <nav class="navbar" role="navigation">
        <button class="homebtn", type="button"><a href="/"><span class="glyphicon glyphicon-home"></span></a></button>

        <button class="addbtn" type="button"><a href="/quote/1001"><span class="glyphicon glyphicon-arrow-left"></span></a></button>
    </nav>


<!-- add quote in maori -->

        <div class="maoritext">          
        <form class ="maoriquote" id="text" action='' method = 'post'>        
            <label class="quote">Quote</label><br>
            <input class='inputquote' type ='text' name="quote" placeholder = 'add maori quote here'>           
        </form>
        </div>
      

<!-- link for english to maori translator -->
        <span class="translator">
                <a class="maoriquote" src="https://translate.google.com/?rlz=1C5CHFA_enNZ889NZ889&um=1&ie=UTF-8&hl=en&client=tw-ob#en/mi/">English to Maori translator</a>            
        </span>
    </div>

    <!-- bottom quote in english -->

    <div class="bgbottomquote">
        <div class="englishtext">
          <form class ="englishquote" id="text" action='' method = 'post'>        
            <label class="labelQuote">Quote</label><br>
            <input class='inputquoteEnglish' type ='text' name="quote" placeholder = 'add english quote here'>
            <input class='inputauthor' type ='text' name="author" placeholder = 'author''s name'>
            <button class ='buttonenglish'>Add</button>
        </form>
            
        </div>          
    </div>